<br><br>
<% if @character.alive? %>
    <div>
        <h1> Howdy Pardern! <h1>
        <br><br>
        <%= button_to "Next Combat Round", action:'next_encounter' %>
        <br><br>
    </div>
<% else %>
    <div>
        <h1> You've Yee'd your last Haw! </h1>
        <br><br>
        <-- %= button_to "oof", action: character_path(@character) %>
        <br><br>
    </div>    
<% end %>